services:

  pg:
    image: postgres:16.8
    environment:
      POSTGRES_DB: ${APP_CONFIG__DB__DATABASE}
      POSTGRES_USER: ${APP_CONFIG__DB__USER}
      POSTGRES_PASSWORD: ${APP_CONFIG__DB__PASSWORD}
    ports:
      - "${APP_CONFIG__DB__PORT}:${APP_CONFIG__DB__PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 3s
      retries: 3

  redis:
    image: redis:8.2.1-alpine
    ports:
      - "${APP_CONFIG__REDIS__PORT}:${APP_CONFIG__REDIS__PORT}"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3

  app:
    build:
      dockerfile: Dockerfile
    ports:
      - "${APP_CONFIG__RUN__PORT}:${APP_CONFIG__RUN__PORT}"
    env_file:
      - ".env"
    volumes:
      - ./certificates:/app/certificates
    depends_on:
      pg:
        condition: service_healthy
      redis:
        condition: service_healthy

  nginx:
    image: nginx:1.29.4-alpine
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - ".env"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certificates:/etc/nginx/ssl
    depends_on:
      - app